@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "Plus Jakarta Sans";
    text-decoration: none;
    letter-spacing: 0;
}
html{
    scroll-behavior: smooth;
}

body {
    background-image: url(asset/Cover.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-size:50% ;
}

.home {
   margin: 0px 120px; 
}

.navbar {
    display: flex;
    margin-top: 70px;
    /* background-color: aqua; */
    /* border: solid 1px black; */
    align-items: center;
    justify-content: space-between;
}

.navbar .kiri {
    display: flex;
    /* background-color: aqua; */
    /* border: solid 1px black; */
    align-items: center;
}
.navbar .kanan{
    display: flex;
    /* background-color: aqua; */
    /* border: solid 1px black; */
    align-items: center;
}

.navbar img {
    width: 28px;
    height: 28px;
}

.navbar .logo {
    margin: 0 120px 0 0;
    padding-left: 20px;
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.navbar .aktif {
    color: #4737FF;
}

.navbar a {
    display: flex ;
    /* border: solid 1px black; */
    margin: 0px 35px;
    font-size: 14px;
    color: #9A9EA6;
    align-items: center;
}

.login {
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    width: 137px;
    height: 43px;
    background-color: white;
}

.konten {
    display: flex;
    margin-top: 54px;
    /* border: solid 1px black; */
}

.hero {
    width: 50%;
    /* border: solid 1px black; */
}

.hero div {
    font-size: 76px;
    color: #181E4B;
    font-weight: bolder;
    letter-spacing: -4px;
}

.hero span {
    color: #4475F2;
    text-decoration: underline 3px;
    text-underline-offset: 15px;
    letter-spacing: -4px;
}


.hero .deskripsi {
    /* border: solid 1px black; */
    letter-spacing: 0;
    width: 500px;
    color: #5E6282;
    font-size: 16px;
    font-weight: 300;
    width: 75%;
    margin-top: 30px;
}

.cta {
    margin-top: 34px;
}
.hero a {
    font-size: 16px;
    border: none;
    background-color: #4475F2;
    padding: 18px 54px;
    color: white;
    font-weight: 500;
    border-radius: 10px;
}

.feature {
    margin: 100px 120px; 
}

.feature p {
    color: #4475F2;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.feature h1 {
    font-size: 48px;
    font-weight: 900;
}

.isi {
    margin-top: 90px;
    display: flex;
    /* border: solid 1px black; */
    justify-content: space-between;
}

.bagian {
    /* border: solid 1px black; */
    text-align: center;
    width: 281px;
    
}

.bagian img {
    display: block;
    margin: auto;
    width: 102px;
    height: 102px;
    /* box-shadow:  0 6px 20px 0 rgba(109, 105, 105, 0.603);; */
}

.bagian .judul {
    margin-top: 20px;
    /* border: solid 1px black; */
    color: black;
    font-size: 24px;
    font-weight: 800;
}

.bagian p {
    margin-top: 28px;
    padding: 0px 5px;
    font-size: 16px;
    color: #5E6282;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 2;
}

.service {
    margin: 100px 120px; 
}

.service p {
    color: #4475F2;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.service h1 {
    font-size: 48px;
    font-weight: 900;
}


.service .satu {
    margin-top: 90px;
    /* border: solid 1px black; */
    display: flex;
}
.satu .kiri {
    /* border: solid 1px black; */
    margin: 0px 150px;
}

.kiri .judul {
    font-size: 32px;
    font-weight: 500;
}

.kiri p {
    font-size: 16px;
    line-height: 1.5;
    color: #9A9EA6;
    font-weight: 300;
    letter-spacing: 0;
} 
.kiri span {
    color: #4475F2;
    
}

.service .dua {
    margin-top: 90px;
    /* border: solid 1px black; */
    display: flex;
}

.kanan .judul {
    font-size: 32px;
    font-weight: 500;
}

.kanan p {
    font-size: 16px;
    line-height: 1.5;
    color: #9A9EA6;
    font-weight: 300;
    letter-spacing: 0;
} 
.kanan span {
    color: #4475F2;
    
}

.dua .kiri {
    margin-left: 200px;
}
.review {
    margin: 100px 120px; 
}

.review p {
    color: #4475F2;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.review h1 {
    font-size: 48px;
    font-weight: 900;
}

.profil {
    display: flex;
    /* border: solid 1px black; */
    margin-top: 90px;
    justify-content: space-between;
}

.person {
    text-align: center;
    /* border: solid 1px black; */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    /* background-color: white; */
    width: 366px;
    height: 400px;
    padding-top: 40px;
}

.person p {
    margin-top: 20px;
    color: #5E6282;
    font-size: 16px;
    line-height: 2;
    font-weight: 500;
}

.person span {
    display: block;
    /* font-size: 16px; */
    font-weight: 800;
    /* border: solid 1px black; */
    margin-top: 20px;
    color: #23A6F0;
}

.person .kampus {
    color: #181E4B;
    font-weight: 800;
}

.location {
    margin: 100px 120px; 
}

.location p {
    color: #4475F2;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.location h1 {
    font-size: 48px;
    font-weight: 900;
}

.location img {
    width: 1350px;
    margin-top: 80px;
}



.kontak {
    /* border: solid 1px black; */
    display: flex;
    justify-content: space-between;
    margin: 100px 400px;
    text-align: center;
}

.kontak p {
    font-size: 24px;
    color: black;
    font-weight: 800; 
    margin-bottom: 20px;   
}
.copyright {
    /* border: solid 1px black; */
    background-color: #4475F2;
    text-align: center;
    padding: 30px 100px
}

.media {
    /* border: solid 1px black; */
}

.media div {
    display: flex;
    /* border: solid 1px black; */
    justify-content: center;
    justify-content: space-around;
}


.media  div img {
    width: 40px;
    height: 40px;
    /* border: solid 1px black; */
}